#landscape {
    margin: auto;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    z-index: 1;

}

#tree {
    margin: auto;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 137px;
    transform: scale(0.9, 0.9);
    z-index: 3;

}

div {
    position: relative;
    left: 50px;
    right: 50px;
    top: 50px;

}

#red {
    position: absolute;
    left: 700px;
    top: 385px;
    z-index: 4;

}

#blue {
    position: absolute;
    left: 780px;
    top: 275px;
    z-index: 4;

}

#dBlue {
    position: absolute;
    left: 965px;
    top: 320px;
    z-index: 4;

}

#green {
    position: absolute;
    left: 1090px;
    top: 260px;
    z-index: 4;
}

#orange {
    position: absolute;
    left: 1280px;
    top: 330px;
    z-index: 4;
}

#pink {
    position: absolute;
    left: 1070px;
    top: 380px;
    z-index: 2;
}




